<a href="/">Home</a>
<p>
	{{#each maze.maze}}
		{{this}} <br>
	{{/each}}
</p>
Solution is: {{solution.path}} --> {{solution.encode}}
<br></br>
<a href="/check?s={{maze.id}}&guess={{solution.encode}}">/check?s={{maze.id}}&guess={{solution.encode}}</a><br></br>